@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../font/woff2/PretendardVariable.woff2') format('woff2-variations');
}

* {
  font-family: 'Pretendard Variable';
}

button {
  cursor: pointer;
}

#menu {
  position: fixed;
  width: 270px;
  height: 100%;
  color: #333;
  background-color: #eee;
  z-index: 10;
}

#menu > .menu-bar {
  width: 151px;
  margin: 36px auto 0;
}

#menu .menu-logo,
#menu-mobile .menu-logo {
  width: 120px;
  margin: 0 auto 62px;
}

#menu .menu-logo img,
#menu-mobile .menu-logo img {
  width: 100%;
}

.gnb,
.gnb > .top-menu {
  width: 151px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}

.gnb a {
  transition: color 0.3s;
}

.gnb a:hover {
  color: #ee2e24;
}

.gnb > .top-menu > a > i {
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
}

.gnb > .top-menu > a > span {
  vertical-align: middle;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}

.gnb > hr {
  width: 100%;
  height: 1px;
  border: none;
  outline: none;
  background-color: #777;
}

.gnb > .bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 12px;
}

.gnb > .bottom-menu > a > i {
  vertical-align: middle;
  font-size: 20px;
}

.gnb > .bottom-menu > a > span {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

#menu-mobile {
  position: fixed;
  width: 90%;
  height: 100%;
  color: #333;
  background-color: #eee;
  display: none;
}

#menu-mobile > .menu-bar {
  width: 70%;
  margin: 36px auto 0;
}

#content {
  margin-left: 280px;
  padding-right: 20px;
}

#bar-mobile {
  background-color: #eee;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  display: none;
}

#bar-mobile > .menu-toggle-btn > i,
#bar-mobile > .profile-btn > i {
  font-size: 32px;
  color: #ee2e24;
}

#bar-mobile > .menu-logo {
  width: 54px;
  height: 24px;
}

#bar-mobile > .menu-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#searching {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searching > .searching-wrap {
  flex: 1;
}

#searching > .searching-wrap > .search-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  border-radius: 8px;
  padding: 0 11px;
}

#searching > .searching-wrap > .search-bar > .search-bar-btn-search > i {
  font-size: 24px;
  font-weight: bold;
  color: #ee2e24;
}

#searching > .searching-wrap > .search-bar > #search {
  flex: 1;
}

#searching > .searching-wrap > .search-bar > #search::placeholder {
  font-family: 'Pretendard Variable';
  font-size: 17px;
}

#searching > .searching-wrap > .search-bar > .search-bar-btn-clear {
  font-size: 15px;
  font-weight: 600;
}

#searching > .btns {
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

#searching > .btns > a {
  padding: 10px;
}

#searching > .btns > a > i {
  color: #ee2e24;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
}

#searching > .btns > a > span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  vertical-align: middle;
}

#banners {
  height: 540px;
  position: relative;
}

#banners > .banners-container {
  position: absolute;
  display: flex;
  gap: 30px;
}

#banners .banner {
  position: relative;
  width: 888px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}

#banners .banner .banner-img,
#banners .banner .banner-text {
  width: 100%;
  height: 100%;
  position: absolute;
}

#banners .banner .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banners .banner .banner-text {
  width: 100%;
  height: 282px;
  left: 0;
  bottom: 0;
  padding: 0 30px;
}

#banners .banner .banner-text-name {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

#banners .banner .banner-text-name > span {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -0.01em;
  color: #fdfdfd;
}

#banners .banner .banner-text-desc {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

#banners .banner .banner-text-desc > span {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #ddd;
  line-height: 40px;
}

#banners .ticketing-btn {
  width: 102px;
  height: 43px;
  background-color: #ff5b5b;
  border-radius: 8px;
  margin-top: 21px;
}

#banners .ticketing-btn span {
  color: #fdfdfd;
  font-weight: 600;
  font-size: 18px;
}

#banners .banner-text-age {
  outline: 1px solid red;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
